<div class="row">
  <div class='col-md-10'>
    <%= link_to 'Feeds Entries', feed_entries_rss_feeds_path, class: 'pull-right' %>    
  </div>
  <div class="col-md-2">
    <%= link_to 'Create Rss Feed', new_rss_feed_path, class: 'pull-right' %>   
  </div>
</div>
 

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Url</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rss_feeds.each.with_index(1) do |feed, index| %>  
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= feed.name.capitalize %></td>
        <td><%= feed.url %></td>
        <td>
          <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_rss_feed_path(feed) %>
        </td>  
        <td>
          <%= link_to "<i class='fa fa-times' aria-hidden='true'></i>".html_safe, rss_feed_path(feed), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
